.bg {
	background: #c97800;
	background: url('assets/image/race_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100%;
	height: 100vh;
}

.info_num {
	font-family: 'timer';
}

.card_info_lg,
.card_info_sm {
	border: 2px solid #fff;
	background: #ecf00c;
	background: linear-gradient(to right, #bdc008, #ecf00c, #bdc008);
	border-radius: 20px;
	line-height: 1;
}

.card_info_lg p,
.card_info_sm p {
	display: flex;
	justify-content: space-around;
}

.card_info_lg p span {
	font-size: 6rem;
	text-transform: uppercase;
	font-weight: bold;
}

.card_info_sm p span {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
}

.card_info_sm p span.card_info_sm__name {
	font-size: 1.5rem;
}

.card_info_sm__custom_size {
	min-height: 130px;
}

.card_info_position__title,
.card_info_fastest__title {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1;
}

.card_info_position {
	background: #fff;
	background: linear-gradient(to right, #f0f0f0, #fff, #f0f0f0);
	border: 2px solid #000;
	border-radius: 20px;
	line-height: 1;
}

.card_info_position p,
.card_info_current p {
	display: flex;
	justify-content: center;
}

.card_info_position p span {
	font-size: 6rem;
	text-transform: uppercase;
	font-weight: bold;
}

.card_info_current {
	background: #111270;
	background: linear-gradient(to right, #111270, #0a0b46, #111270);
	border: 2px solid #fff;
	border-radius: 20px;
	line-height: 1;
}

.card_info_current p span {
	color: #fff;
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: bold;
}

.card_info_lap {
	background: #fff;
	background: linear-gradient(to right, #f0f0f0, #fff, #f0f0f0);
	border-radius: 10px;
	line-height: 1;
}

.card_info_lap p span {
	color: #111270;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
}

.card_info_lap p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_info_fastest {
	color: #fff;
	background: #2c7932;
	background: linear-gradient(to right, #2c7932, #154619, #2c7932);
	border: 2px solid #fff;
	border-radius: 20px;
	line-height: 1;
}

.card_info_fastest p span {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: bold;
}

.card_info_fastest p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_options {
	background: #fff;
	color: #000;
	border: 1px solid #fff;
}

.btn_options:hover {
	background: #ecf00c !important;
	color: #000 !important;
	border: 1px solid #000 !important;
}

.bg_modal_options {
	background: linear-gradient(rgb(255 255 255 / 85%) 10%, rgb(255 255 255 / 100%) 100%),
		url('../../assets/image/flag-race-bg.jpg');
	background-size: cover;
}

.btn_custom_black {
	background: linear-gradient(45deg, black 50%, rgba(0, 0, 0, 0.7) 50%, black) !important;
	border: none !important;
	transition: 250ms ease;
}

.btn_custom_red {
	background: linear-gradient(45deg, #ef4444 50%, rgb(255 41 41 / 70%) 50%, #ef4444) !important;
}

/*
.footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 0;
	line-height: 1;
	font-family: 'Faster One', cursive;
	color: #fff;
	font-size: 2rem;
} */

@media (max-width: 991.98px) and (orientation: landscape) {
	.landscape_alignment {
		display: flex;
		align-items: center;
	}

	.card_info_lg,
	.card_info_sm,
	.card_info_position,
	.card_info_current,
	.card_info_fastest {
		border-radius: 10px;
	}

	.card_info_lg p span {
		font-size: 3rem;
	}

	.card_info_sm p span {
		font-size: 1.8rem;
	}

	.card_info_sm p span.card_info_sm__name {
		font-size: 1rem;
	}

	.card_info_sm__custom_size {
		min-height: 80px;
	}

	.card_info_position__title,
	.card_info_fastest__title {
		font-size: 0.7rem;
	}

	.card_info_position p span {
		font-size: 3rem;
	}

	.card_info_current p span {
		font-size: 3rem;
	}

	.card_info_lap p span {
		font-size: 1.8rem;
	}

	.card_info_fastest p span {
		font-size: 3rem;
	}
}

@media (max-width: 575.98px) and (orientation: landscape) {
	.card_info_lg p span {
		font-size: 2.2rem;
	}

	.card_info_sm p span {
		font-size: 1.2rem;
	}

	.card_info_position p span {
		font-size: 2.2rem;
	}

	.card_info_current p span {
		font-size: 2.2rem;
	}

	.card_info_fastest p span {
		font-size: 2.2rem;
	}

	.card_info_sm p span.card_info_sm__name {
		font-size: 0.8rem;
	}
}

@media (max-width: 991.98px) and (orientation: portrait) {
	.portrait_container_alignment {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card_info_lg,
	.card_info_sm,
	.card_info_position,
	.card_info_current,
	.card_info_fastest {
		border-radius: 10px;
	}

	.portrait_disable {
		display: none;
	}

	.portrait_col_12 {
		flex: 0 0 auto;
		width: 100%;
	}

	.card_info_position__title,
	.card_info_fastest__title {
		font-size: 0.9rem;
	}

	.card_info_position p span {
		font-size: 3.3rem;
	}

	.card_info_current p span {
		font-size: 3.3rem;
	}

	.card_info_lap p span {
		font-size: 2rem;
	}

	.card_info_fastest p span {
		font-size: 3.3rem;
	}
}
