@font-face {
	font-family: 'timer';
	src: local('timer'), url('./assets/fonts/timer.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.flex-0 {
	flex: 0;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

/* PRIME REACT CUSTOM */
.p-dropdown-panel {
	z-index: 9999 !important;
}
